DB_NAME=<yourDbName>
DB_USER=<yourDbUser>
DB_PASSWORD=<yourDbPassword>

JWT_ISSUER=<yourJwtIssuer>
JWT_AUDIENCE=<yourJwtAudience>
JWT_KEY=<yourSuperSecretKey>
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=<accessTokenLifetimeInMinutes>
JWT_REFRESH_TOKEN_LIFETIME_HOURS=<refreshTokenLifetimeInHours>

BASE_USERNAME=<yourGatewayUsername>
BASE_PASSWORD=<yourGatewayPassword>

API_BASE_URL=<yourApiBaseUrl>
